bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
[Tt]emp/
[Tt]mp/
*.nupkg
**/packages/*
!**/packages/build/
*.dll
*.exe
*.pdb
*.log
.*.suo
.*.user
.*.userosscache
.*.sln.docstates
.DS_Store
Thumbs.db
.idea/
*.sln.iml
.idea_modules/
*.csproj.user
*.DotSettings.user
riderModule.iml
/_ReSharper.Caches/